.Burger-button{
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    border: none;
    padding-top: 0.3rem;
    cursor: pointer;
}

.Burger-menu{
    height: 1.5rem;
    width: 1.5rem;
}